/* Comments inside CSS are similar to C syntax */


h1 {
    font-size:52px;
    text-align: center;
}

#ndblue {
    text-align: center;
    color: #0C2340;
}

#ndgold {
    text-align: left;
    color: #C99700;
}

#ndgreen {
    text-align: right;
    color: #00843D;
}

/* Add an ND Lock Logo check mark #ndlogo - https://mmorri22-nd.neocities.org/images/ndlogo.png */

/* Add an Leprechaun check mark #ndlep - https://mmorri22-nd.neocities.org/images/ndlep.png */

/* Add an Shamrock check mark #ndsham - https://mmorri22-nd.neocities.org/images/ndsham.png*/



/* CSS Class Selectors */
.center {
    text-align: center;
    color: #0C2340;
}

.right {
    text-align: right;
    color: #C99700;
}   

.left {
    text-align: left;
    color: #00843D;
}  

.headline {
    font-size: 40pt;
    color: #0C2340;
}

.center_and_bold {
    font-size: 25pt;
    text-align: center;
    color: #00843D;
    text-decoration: underline;
}